// variables
$gray-bg: #3f3f3f;
$gray-bg-darker: #2e2e2e;

// extend :placeholder
%timer {
  display: flex;

  > p {
    display: inline-block;
    color: #cccccc;
    background: $gray-bg;
    // background: #b39c7b;
    min-width: 3em;
    font-size: 2em;
    line-height: 1.2;
    font-weight: bold;
    padding: 0 2vmin;
  }
}

.container {
  margin: 2em;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.board {
  display: grid;
  grid-template-columns: repeat(9, 75px);
  grid-template-rows: repeat(8, 75px);
}
// grid-template-rows: repeat(minmax(56px, 1fr));
// grid-template-columns: repeat(8, 1fr);
// background: red;
// width: 100%;
// height: 100%;
// background: red;
// &:nth-child(2n) {
//   background: rgb(29, 78, 214);
// }

.square {
  // min-height: 50px;
  // min-height: 126px;
  // min-width: 126px;
  // height: 100%;
  // width: 100%;
  // height: 100%;
  // background: red;
  // background: blue;
  border: 1px solid rgb(87, 87, 87);

  &:nth-of-type(2n) {
    background: green;
  }

  &:nth-child(9n + 0) {
    background-color: transparent;
    border: none;
  }
}

.dashboard {
  background: #333333;

  .clockTop {
    @extend %timer;
  }

  .user {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 0.5em 0.5em 0.5em 0.3em;

    .circle {
      margin: 0.5em;
      position: relative;
      width: 1em;
      height: 1em;
      border-radius: 50%;
      border: 2px solid rgb(131, 130, 130);
      background: transparent;

      // &:after {
      //   position: absolute;
      //   top: 0;
      //   left: 0;
      //   content: '';
      //   background: rgb(56, 20, 219);
      //   width: 10px;
      //   height: 10px;
      //   color: black;
      //   z-index: 10;
      // }
    }

    .name {
      color: rgb(199, 199, 199);
      flex: auto;
    }

    .rating {
      margin: 0 0.25em 0 0.3em;
      color: rgb(199, 199, 199);
    }
  }

  .panel {
    display: flex;
    flex-direction: column;

    .buttons {
      display: flex;
      align-items: center;

      > button {
        flex: 0 0 calc(100% / 6);
        padding: 0.6em 1.2em;
        cursor: pointer;
        background: $gray-bg;
        color: #bababa;
        border: none;
        transition: background 0.35s ease-out, color 0.35s ease-out;

        &:hover {
          background: #537c23;
          color: #fff;
        }
      }
    }
  }

  .controls {
    display: flex;
    flex-flow: column;
    // background: $gray-bg;

    > button {
      cursor: pointer;
    }

    .rematch {
      font-size: 1em;
      color: #bababa;
      text-transform: uppercase;
      height: 6rem;
      background: $gray-bg;
      border: none;

      &:disabled {
        cursor: not-allowed;
      }
    }

    .newOpponent {
      color: #bababa;
      background: $gray-bg-darker;
      border: none;
      text-transform: uppercase;
      padding: 1.1em 0;
      margin: 1px 1px 0 1px;
      font-size: 0.75em;
    }
  }

  .clockBottom {
    @extend %timer;
  }
}
